@import '../../theme/variables.scss';
@import '../../theme/mixins.scss';

.home {
  .empty-view {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    .empty-view-card {
      padding: $mobileBlockSize*2.5;

      .empty-view-card-title {
        font-size: $mobileBlockSize*2;
        text-align: center;
        font-weight: 300;
      }

      .empty-view-card-create-room-container {
        margin-top: $mobileBlockSize*2;
        display: flex;
        align-items: center;
        justify-content: center;

        .empty-view-card-create-room-container-action-text {
          margin-left: $mobileBlockSize;
          font-size: $mobileBlockSize*1.5;
        }
      }
    }
  }
}

@media screen and (min-width: $smallBreakPoint) {
  .home {
    .empty-view {
      .empty-view-card {
        padding: $desktopBlockSize*2.5;

        .empty-view-card-title {
          font-size: $desktopBlockSize*2;
        }

        .empty-view-card-create-room-container {
          margin-top: $desktopBlockSize*2;

          .empty-view-card-create-room-container-action-text {
            margin-left: $desktopBlockSize;
            font-size: $desktopBlockSize*1.5;
          }
        }
      }
    }
  }
}
